*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: hsl(210, 46%, 95%);
    height:100vh;
    /* width:100vw; */
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

main{
   display:grid;
   grid-template-columns:repeat(4,1fr);
   gap: 1rem ; 
}

img{
    border-radius:50%;
    height:35px;
    width:35px;
}
.card1{
   grid-column: 1/3;
   background-color: hsl(263, 55%, 52%);
   border-radius: 10px;
   padding:1rem;
   background-image: url('./images/bg-pattern-quotation.svg');
   background-repeat: no-repeat;
   background-position: right 100px top ;
}

.card1 img{
  border:2px solid hsla(263, 76%, 75%, 0.817);
}

.card2{
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
}

.card3{
    grid-column: 4/5;
    grid-row: 1/3;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    font-family: "Barlow Semi Condensed", sans-serif;
}


.card4{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.card5{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: hsl(219, 29%, 14%);
    border-radius: 10px;
    color:hsl(0, 0%, 100%);
    padding:20px;
    font-family: "Barlow Semi Condensed", sans-serif;
}

.card5 img{
    border:2px solid hsla(263, 76%, 75%, 0.817);
  }

.card5 p{
    font-size: 13px;
    color:hsl(218, 16%, 70%);
    padding:10px;
}

.card5 h1{
    padding:10px;
    font-size: 18px;
    font-weight: 500;
}

.card5 span:first-child{
    color:hsl(0, 0%, 100%);
    padding-bottom:2px;
    font-size: 16px;
}

.card5 span:last-child{
    color:hsl(218, 16%, 70%);
    font-size: 13px;
}
.author{
    display:flex;
    flex-direction: column;
}

.authbox{
    display:flex;
    gap:1rem;
    align-items: center;
}
